/* authors: Kamil Donda, Remigiusz Drobinski */

.logo {
  margin: 0 auto;
  display: block;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 50%;
  height: 10vh;
  width: 80vw;
  margin: 3vh auto;
  font-size: 3vh;
  outline: none;
  border-radius: 25px;
}

/* button:hover {
  border: 2px solid #008cba;
  color: #008cba;
  background-color: white;
} */

.correct-button, .correct-button:hover {
  border: 2px solid #00ba0f;
  color: #00ba0f;
  background-color: #c6ffcb;
}

.incorrect-button, .incorrect-button:hover {
  border: 2px solid #ba0000;
  color: #ba0000;
  background-color: #ffc6c6;
}

.time-is-up-button, .time-is-up-button:hover {
  border: 2px solid #ba00aa;
  color: #ba00aa;
  background-color: #ffeef8;
}

.title-button {
    height: 13vh;
    margin: 5vh auto;
    font-size: 5vh;
}

h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 3.5vh;
  font-size: 1.75em;
  transform: translateX(-50%);
  padding: 0;
  white-space: nowrap;
}

h3 {
  margin: 0;
  position: absolute;
  left: 50%;
  font-size: 1em;
  transform: translateX(-50%);
  padding: 0;
  white-space: nowrap;
  font-weight: normal;
}

#question {
  width: 90%;
  height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
}

.back-button {
  width: 2em;
  margin-top: 2vh;
  display: inline-block;
}

.list {
  list-style-type: none;
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;

  -webkit-overflow-scrolling: touch;
}

.difficulty {
    top: 50%;
    transform: translateY(-50%);
    overflow:visible;
}

.answers {
  top: 60%;
  transform: translateY(-60%);
  overflow:visible;
}

#timer {
  width: 90%;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
}

#your-result {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 3em;
  white-space: nowrap;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.refresh {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  outline: none;
}
.ref {
  width: 10vh;
}
.rotated {
  -webkit-transform: rotate(-360deg);
  -webkit-transition-duration: 0.5s;
}

#error {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: block;
  text-align: center;
  font-size: 1.75em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.logoImg{
    height: 14vh;
    width: 14vh;
    text-align: center;
    margin-left: 5vw;
    float: left;
    display: block;
    font-size: 1.25em;
    vertical-align: middle;
}

.sectionRow{
    float: left; 
    vertical-align: middle; 
    font-size: 1.25em; 
    margin-top: 5vh; 
    margin-left: 10vw;
}



.row{
    height: 15vh;
    margin: 1vw;
}

li{
    font-size: 1em;
    list-style-type: none;
    text-indent: 20px;
}

ul{
    font-size: 1.25em;
    border-left-width: 0;
    padding-left: 5vw;
}