/* authors: Kamil Donda, Remigiusz Drobinski */
body {
  margin: 0;
}
#title-screen {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column {
  flex: 50%;
  align-self: center;
}
.logo {
  margin: 0 auto;
  display: block;
}
.button {
  background-color: #008cba;
  border: none;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 10vh;
  width: 80vw;
  margin: 3vh auto;
  font-size: 3vh;
  outline: none;
  border-radius: 25px;
}
.correct-button, .correct-button:hover {
  border: 2px solid #00ba0f;
  color: #00ba0f;
  background-color: #c6ffcb;
}
.incorrect-button, .incorrect-button:hover {
  border: 2px solid #ba0000;
  color: #ba0000;
  background-color: #ffc6c6;
}
.time-is-up-button, .time-is-up-button:hover {
  border: 2px solid #ba00aa;
  color: #ba00aa;
  background-color: #ffeef8;
}
.title-button {
    height: 13vh !important;
    margin: 5vh auto !important;
    font-size: 5vh !important;
    display: block !important;
}
h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 3.5vh;
  font-size: 1.75em;
  transform: translateX(-50%);
  padding: 0;
  white-space: nowrap;
}
h3 {
  margin: 0;
  position: absolute;
  left: 50%;
  font-size: 1em;
  transform: translateX(-50%);
  padding: 0;
  white-space: nowrap;
  font-weight: normal;
}
#question {
  width: 90%;
  height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
}
.back-button {
  width: 2em;
  margin-top: 3vh;
  display: inline-block;
  margin-left: 1vw;
}
/* List */
.list {
  list-style-type: none;
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  padding: 0;
  width: 90%;
  margin: 0 auto;

  -webkit-overflow-scrolling: touch;
}
.difficulty {
    top: 50%;
    transform: translateY(-50%);
    overflow:visible;
}
.answers {
  top: 60%;
  transform: translateY(-60%);
  overflow:visible;
}
.answerList {
  font-size: 0.75em !important;
}
/* Timer */
#timer {
  width: 90%;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
}
#your-result {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 3em;
  white-space: nowrap;
}
#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

/* Refresh button */
.refresh {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  outline: none;
}
.ref {
  width: 10vh;
}
.rotated {
  -webkit-transform: rotate(-360deg);
  -webkit-transition-duration: 0.5s;
}
#error {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: block;
  text-align: center;
  font-size: 1.75em;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.list::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.logoImg {
    width: 12vh;
    text-align: center;
    margin-left: 5vw;
    float: left;
    display: block;
    vertical-align: middle;
}
.sectionRow {
    float: left; 
    vertical-align: middle; 
    display: inline-block;
    font-size: 1.25em; 
    margin-left: 10vw;
    width: 50vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.row {
    height: 15vh;
    margin: 1vw;
    position: relative;
}
a {
  text-decoration: none;
}

li {
    font-size: 1em;
    list-style-type: none;
    text-indent: 20px;
}
ul {
    font-size: 1.25em;
    border-left-width: 0;
    padding-left: 5vw;
}

/* Table */
table {
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 6px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008cba;
  color: white;
}

@media (orientation: landscape) {
  .list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    bottom: unset;
  }
  .button {
    width: 40vw;
    display: inline-block;
    height: 20vh;
    font-size: 1em;
  }
  .difficulty {
    top: 25%;
    transform: none;
  }
  .answers {
    top: 40%;
    transform: none;
  }
  h1 {
    top: 4vh;
  }
  #timer {
    top: 15vh;
  }
  #question {
    top: 25vh;
  }
  #title-screen {
    flex-direction: row;
  }
  .title-button {
    width: 50vw !important;
    height: 20vh !important;
    font-size: 2em !important;
  }
  .logo {
    width: 30vw;
  }
}

@media (min-width:1000px) {
  button:hover {
    border: 2px solid #008cba;
    color: #008cba;
    background-color: white;
  }
}